
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

@import url('header.css');
@import url('button.css');

h1 {
	color: #E50058; 
	font-family: 'Raleway', sans-serif;
	margin-top: 0;
	margin-bottom: 0;
}

h2 {
	color: white;
	background:	#193B55;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

body {
	background-color: #F1F0EC;
	font-family:'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	letter-spacing: 0.5px;
	text-decoration:none;
}

p {
	margin-top: 0px;
	margin-bottom: 25px;
	padding: 0px;
}

/** DIV **/
.card {
	width: 300px;
	padding: 10px 20px; 
	background-color: #FCFCFC;
	margin-top: 15px; margin-bottom: 15px; width: 900px; padding: 50px;
	
	box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
	border-radius: 7px;
}

/*bouton*/ 

.btn-blue {
	background-color: #193B55;
	color: white;
	padding:16px;
	border-radius: 6px;
}

.btn-blue:hover {
	background-color: #E50058;
	color: #FFFFFF;
	transition:0.4s;
}

.btn-position {
	margin:0px;
	position: relative; left:350px; right: 30px; top:10px;
}

/** IMAGE **/
.img-circle {
	border-radius: 50%;
}


/** ICONES **/
.icon-style i{
	text-decoration: none;
}

.list-inline i:hover{
	color: #E50058;
	transition: 0.5s;
}

.list-inline li{
	display: inline;
	align-content: right;
}

.list-inline{
	padding: 0;
	margin: 0;
}

.list-inline{
	font-size: 48px;
	color: rgba(0,0,0,0.3);
}

.list-inline i {
	color: #193B55;
}


.ul-style {
  list-style-type: circle;
  text-align: left;
}


/* CARDS */
.cards{ 
	margin-top: 10px; margin-bottom: 15px; 
	width: 1000px;
	border-radius: 7px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
 }	

.card-display{
	padding: 15px;
	width: 290px;
	height: 300px;
	border-radius: 10px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
	text-align: center;
	background-color: #FFFFFF;
	margin: 0;
}

.card-display h4{
	font-family: 'Raleway', sans-serif;
	color: #193B55;
	size: 20px;
	margin:0px;
	padding:5px;
}

.card-display i{
	color: #193B55;
	font-size: 35px;
}